<!DOCTYPE html>
<html lang="en">
  <head>
    <title>IdeaBox</title>
    <meta name="ideabox" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <%= css :application, :media => 'screen' %>
<!--<%= js :app %> -->

  </head>
  <body>
  	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Idea Box</a>
        </div>
        <div class="navbar-collapse collapse">
<!--          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
          </ul>  -->
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>



  <%= yield %>

  <%# Love putting the JS at the bottom, but be careful not to mix tabs with spaces for indentation -%>
		<script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
